
.head h1{
  text-align: center;
  

}
.head{
  padding: .5em;
}
#employees {
    border-collapse: collapse;
    width: 100%;
  }
  
  #employees td, #employees th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4c9baf;
    color: white;
    display: absolute;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    float: right;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
  